{% extends 'base.html.twig' %}

{% block nav %}
    <div class="collapse navbar-collapse">
        {{ include('partial/_orm-nav.html.twig') }}
        <a class="nav-link" href="{{ path('orm') }}">xORMuuuuuuuuu</a>

    </div>
{% endblock nav %}

{% block body %}
    <h1>SHOW</h1>

    count: {{ products|length }}
{% endblock body %}