<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('hello-page') }}">xHello Page</a>
    </li>
    {#
    <li class="nav-item">
        <a class="nav-link" href="{{ path('hello-page') }}">ORM</a>
    </li>
    #}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('orm') }}">xORM</a>
    </li>
</ul>